<?php
/*
 * Open Source Music Collection Database (working title)
 *
 * (c) 2015 Markus Heinz
 * 
 * Licensed under the GPL v3.0
 */

const CONNECTION_STRING = "dbname=cdarchive user=dbuser password=dbpasswd";

?>
